*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    
}
/*----- HEADER ----- */
.contenedor-header{
   background-color: black;
}

/*----- CONTENEDOR GENERAL----- */
.contenedor{
    margin: 0;
    margin-right: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-image: url(/assets/img/bg/graffiti-4873.jpg);
    /* background-image: url(/assets/img/bg/Fabric-1587.jpg); */
    background-size: contain;
    height: 1200px;
    
}

/*----- CONTENDOR PRODUCTOS ----- */
#contenedor-productos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 3fr);
    min-width: 100vh;
    margin-left: 3rem;
  }
.card{
    margin: 1rem;
    padding: 0.5rem;
    border: 3px solid yellowgreen;
    box-shadow: 0 0 15px yellowgreen;
    
}
.card-body h5{
    text-transform: uppercase;
    font-weight: 600;

}
#item-desc{
    font-size: 1rem;
}

/*----- CARRITO ----- */
#carrito{
    position: fixed;
    left: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(250, 2, 180);
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(250, 2, 180);
    margin-top: 1rem;
    min-width: 38rem;
    min-height: 70vh;
    background-color: black;
    opacity: 1;
    letter-spacing: 2px;
}
.carrito-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
    color: white;
}
.listaPrecio{
    padding-left: 12rem;
}
/*----- PRODUCTOS EN CARRITO ----- */
.item-info{
    display: flex;
    align-items: center;
}
.item-info h4{
    font-size: 1rem;
    padding-left: 1rem;
}
.productoEnCarrito{
    display: flex;
    
}
.productoEnCarrito p{
    padding: 0.5rem;
}
.carrito-header{
    word-spacing: 8rem;
}
#carrito-items{
    display: flex;
    flex-direction: column;
    min-height: 8rem;
    width: 100%;
    color: white;
    margin: 1rem;
}
#carrito-items img{
    position: relative;
    height: 3rem;
    width: 3rem;
}
#carrito-items .item-info {
    padding-bottom: 1rem;   
}
#carrito-items .item-carrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#carrito-items .precioUnitario{
    display: flex;
}
.cantidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cantidades div{
    padding: 0.5rem;
}

.numero:hover{
    cursor:context-menu;
    
}
.btnMenos:hover{
    background-color: yellow;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}
.btnMas:hover{
    background-color: yellow;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}
.alert {
    border: 2px solid rgb(2, 204, 250);
    
}