*{
    margin: 0;
    padding: 0;
}

#contenedor-productos{
    display: flex;
    justify-content: space-evenly;
}
#contenedor-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: 40%;
    max-width: max-content;
    margin-top: 2rem;
}

.productoEnCarrito{
    display: flex;
    border-bottom: 3px solid black;
   

}
.productoEnCarrito p{
    padding: 0.5rem;
}
